<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAPPHIRE</title>
    <link rel="icon" type="image/x-icon" href="/static/gem.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#simulate").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/simulate?type=default",
                    success: function (data) {
                        console.log(data);
                        $('#sim_img').attr('src', 'data:image/png;base64,' + data);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container overflow-hidden text-center">
        <div class="row mt-5">
            <div class="col">
                <button id="simulate" type="button" class="btn btn-outline-primary">Run Default Simulation</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <img id="sim_img" src="/static/dummy.png"
                    class="rounded mx-auto d-block shadow-lg p-3 mb-5 bg-body rounded" alt="Simulation plot image" />
            </div>
        </div>
    </div>
</body>