{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#simulate").click(function () {
            $.ajax({
                type: "POST",
                url: "/simulate?type=default",
                success: function (data) {
                    console.log(data);
                    $('#sim_img').attr('src', 'data:image/png;base64,' + data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col pe-5">
        <h2>Simulation Parameters</h2>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword">
            </div>
        </div>
        <button id="simulate-custom" type="button" class="btn btn-outline-primary">Run Custom
            Simulation</button>
        <button id="simulate" type="button" class="btn btn-outline-secondary">Run Default Simulation</button>
    </div>
    <div class="col">
        <img id="sim_img" src="/static/dummy.png"
            class="rounded mx-auto d-block border border-primary-subtle mb-5 bg-body rounded"
            alt="Simulation plot image" />
    </div>
</div>
{% endblock %}